<div class="outerContainer">
    <input inputDirective [calculator]="calculator" type="text" [(ngModel)]="calculator.result" (keydown)="keyDown($event)" (keyup)="keyUp($event)" (keypress)="keyPress($event)" (onreset)="onReset()" (ngModelChange)="onChange($event)">
</div>

<ng-container *ngFor="let buttonArr of calculatorButtons">
    <div class="outerContainer">
        <div fxLayout="row" fxLayoutGap="10px" fxLayoutAlign="center center" class="container">
        <ng-container  *ngFor="let button of buttonArr; let i = index">
            <item-button-comp sign={{button.sign}} fxFlex={{button.flexConstraint}} (onChanged)="valuechange($event)"></item-button-comp> 
         </ng-container>
        </div>
    </div>
</ng-container>